<div ngbDropdown class="navbar-nav" display="dynamic" placement="bottom-right">
  <a href="javascript:void(0);" role="button"
     class="px-1"
     (click)="$event.preventDefault()" data-toggle="dropdown" ngbDropdownToggle
     tabindex="0">
     {{ 'navbar.publication-information' | translate }}
  </a>
  
  <ul ngbDropdownMenu class="dropdown-menu" >
    <!-- <li class="dropdown-item" >
        <a href="https://demo.dspace.org/home"> demo </a>
    </li>
    <li class="dropdown-item" >
        <a href="https://google.com"> google </a>
    </li>
    
	<li class="dropdown-item" >
        <a href="https://bing.com"> bing </a>
    </li> -->
    
    <li>
      <a class="dropdown-item" href="https://drive.google.com/file/d/1ZBezO6YBAdiQtuHc11mX6kS3qbF4LFB9/view?usp=drive_link" target="_blank">{{ 'navbar.regulation' | translate }}</a>
    </li>
    <!-- <li ><a href="#">{{ 'navbar.indexing-base' | translate }}</a></li> -->
    <li>
      <a class="dropdown-item" href="https://drive.google.com/file/d/12564BXYLRLMwg8zl08rtdJO2IV_f4Zzb/view?usp=sharing" target="_blank">{{ 'navbar.copyright' | translate }}</a>
    </li>
    <li>
      <a class="dropdown-item" href="https://forms.gle/dyGyf12mVkP3agUm7" target="_blank">{{ 'navbar.for-external-authors' | translate }}</a>
    </li>
    <li>
      <a class="dropdown-item" href="https://drive.google.com/file/d/11VnnSD53mtkAmgHlX4ZfUBTrDMjVQ_8E/view?usp=sharing" target="_blank">{{ 'navbar.ethics' | translate }}</a>
    </li>
    <li>
      <a class="dropdown-item" href="https://drive.google.com/file/d/1pxdTBGY3CuuXDaooN_2u6APCDN6_6IjE/view?usp=sharing" target="_blank">{{ 'navbar.glossary' | translate }}</a>
    </li>
  </ul> 
  
</div>
 