<nav [ngClass]="{'open': !(menuCollapsed | async)}" [@slideMobileNav]="!(windowService.isXsOrSm() | async) ? 'default' : ((menuCollapsed | async) ? 'collapsed' : 'expanded')"
    class="navbar navbar-light navbar-expand-md p-md-0 navbar-container" role="navigation" [attr.aria-label]="'nav.main.description' | translate">
    <!-- TODO remove navbar-container class when https://github.com/twbs/bootstrap/issues/24726 is fixed -->
    <div class="navbar-inner-container w-100" [class.container]="!(isXsOrSm$ | async)">
        <div class="reset-padding-md w-100">
            <div id="collapsingNav">
                <ul class="navbar-nav navbar-navigation mr-auto shadow-none">
                    <li *ngIf="(isXsOrSm$ | async) && (isAuthenticated$ | async)">
                        <ds-user-menu [inExpandableNavbar]="true"></ds-user-menu>
                    </li>
                    <ng-container *ngFor="let section of (sections | async)">
                        <ng-container *ngComponentOutlet="(sectionMap$ | async).get(section.id)?.component; injector: (sectionMap$ | async).get(section.id)?.injector;"></ng-container>
                    </ng-container>
                    <li class="nav-item dropdown show">
                        <!-- data-toggle="dropdown" aria-expanded="false" -->
                        <a href="javascript:void(0);" class="nav-link dropdown-toggle" routerLinkActive="active" id="publicInformation" (click)="toggleSection($event)" >
                            {{ 'navbar.publication-information' | translate }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="publicInformation">
                            <a class="dropdown-item" href="https://drive.google.com/file/d/1ZBezO6YBAdiQtuHc11mX6kS3qbF4LFB9/view?usp=drive_link" target="_blank">{{ 'navbar.regulation' | translate }}</a>
                            <!-- <li ><a href="#>{{ 'navbar.indexing-base' | translate }}</a></li> -->
                            <a class="dropdown-item" href="https://drive.google.com/file/d/12564BXYLRLMwg8zl08rtdJO2IV_f4Zzb/view?usp=sharing" target="_blank">{{ 'navbar.copyright' | translate }}</a>
                            <a class="dropdown-item" href="https://forms.gle/dyGyf12mVkP3agUm7" target="_blank">{{ 'navbar.for-external-authors' | translate }}</a>
                            <a class="dropdown-item" href="https://drive.google.com/file/d/11VnnSD53mtkAmgHlX4ZfUBTrDMjVQ_8E/view?usp=sharing" target="_blank">{{ 'navbar.ethics' | translate }}</a>
                            <a class="dropdown-item" href="https://drive.google.com/file/d/1pxdTBGY3CuuXDaooN_2u6APCDN6_6IjE/view?usp=sharing" target="_blank">{{ 'navbar.glossary' | translate }}</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
