.ds-full-screen-loader {
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a.lead.ng-star-inserted {
  font-weight: 600;
}

.text-muted.abstract-text.ng-star-inserted {
  font-weight: 300;
}